.banner {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    height: 0;

    padding-bottom: 30%;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)inset;

    @media(max-width: 767px) {
        background-attachment: scroll;
    }

    &.banner-home {
        position: relative;
        overflow: hidden;

        >div {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translatey(-50%);

        }

        .overlay {
          @include overlay();

            h1{
                color: white;

                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

                &::after{
                    display: none;
                }
            }
        }
    }
}