.site-footer{
    background-color: $color__teal;
    color: white;

    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;

    .menu{
        
            list-style: none;

            li{ 
                margin-bottom: 0.5rem;
                
                a{
                color: $color__ow;
            }
        }
        
    }

    .footer-contact{
        text-transform: none;
        font-weight: normal;
        @include font-size(1);
    }
}

.right{
    text-align: right;
}

.footer-left{
    display: flex;
    flex-wrap: wrap;

    align-content: space-between;

    p{
        width: 100%;
        margin: 0;
    }
}