.site-header{
    padding-top: 15px;
    padding-bottom: 15px;


    .site-branding{
        padding-bottom: 10%;

        a{
            &::after{
                display: none;
            }
        }
    }
}