.entry-header{
    text-transform: uppercase;
   
}


article, .padsection{
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg_ow{
    background-color: $color__ow;
}

@import 'sections/videos';

