.entry-header{
    text-transform: uppercase;
   
}


article, .padsection{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg_ow{
    background-color: $color__ow;
}

.video{
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    overflow: hidden;
    &::after{
        display: none;
    }
    img{
        display: block;
        transition: 0.1s;
        transform: none;
    }

    span{
        @include fancy-title();

        @include hover-title();

        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translatey(-50%);

        opacity: 0;

        color: $color__ow;

        text-shadow: 1px 1px 5px rgba(0,0,0,0.9), -1px -1px 5px rgba(0,0,0,0.9);
    }

    &:hover{
        img{
            transform: scale(1.1);
        }

        span{
            opacity: 1;
        }
    }
}