button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.wp-core-ui .button-primary,
.sy-button{
	background-color: transparent !important;
	color: $color__blue !important;
	@include fancy-title();
	@include hover-title();

	font-size: 1rem !important;
	padding: 0 !important;
	text-transform: uppercase;
	font-weight: bold !important;

	text-shadow: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;

} 